<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <style>
    body { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">
  <div id="main"></div>

  <script type="text/javascript" src="thirdparty/react.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="javascripts/react/article.react.js"></script>
  <script type="text/javascript" src="javascripts/react/articlelist.react.js"></script>
  <script type="text/javascript" src="javascripts/react/articleapp.react.js"></script>
</div>
</body>
</html>
